# Image files
neural-network/data/images/**/*.jpg filter=lfs diff=lfs merge=lfs -text
neural-network/data/images/**/*.jpeg filter=lfs diff=lfs merge=lfs -text
neural-network/data/images/**/*.png filter=lfs diff=lfs merge=lfs -text
